html,
body {
	background: black;
	font-family: 'roboto condensed', 'HelveticaNeue-Condensed', 'Sans-Serif';
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

body {
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.highlight-text {
	color: orangered;
}

.action {
	cursor: pointer;
}

.header {
	background: black;
	border-bottom: 1px solid #333;
	color: white;
	font-size: 18px;
	height: 35px;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-transform: uppercase;
	top: 0;
	width: 100%;
}

.header-elements {
	overflow: hidden;
	padding: 5px 10px;
}

.the-menu,
.the-logo,
.watching {
	float: left;
}

.the-menu {
	padding: 2px 0px;
	margin-right: 10px;
}

.the-logo {
	margin-right: 10px;
}

.watching {
	color: #777;
	font-size: 11px;
	height: 24px;
	line-height: 25px;
	padding: 0px 0px;
	max-width: 520px;
	overflow: hidden;
}

.watching .streamer {
	margin-left: 3px;
}

.watching .title {
	color: #ccc;
	position: relative;
}

.header .icons-options .option {
	color: #666;
	font-size: 14px;
	height: 16px;
	line-height: 1em;
	margin: 5px 0px 0px 5px;
	width: 16px;
}

.header .icons-options .option.active-on {
	color: #fff;
}

.noclick {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 3;
	bottom: 50px;
	left: 0px;
}

#stream-wrapper {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 36px;
}

#streamer-list  {
	background: rgba(0,0,0,0.8);
	border-right: 1px solid rgba(255,255,255,0.4);
	color: white;
	display: none;
	font-size: 12px;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	text-transform: uppercase;
	top: 36px;
	bottom: 28px;
	z-index: 9999;
}

#streamer-list .list-header {
	border-bottom: 1px solid #222;
	color: #777;
	left: 0;
	padding: 8px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

#streamer-list .list-header:hover {
	color: white;
}

#streamer-list ul {
	cursor: pointer;
	list-style: none;
	overflow: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0.5;
	top: 33px;
	bottom: 0px;
}

#streamer-list li {
	line-height: 1;
	padding: 10px 15px;
}

#streamer-list li .view-count {
	display: none;
}

#streamer-list.active {
	display: block;
	width: 210px;
}

#streamer-list.active li {
	display: block;
}

#streamer-list:hover ul,
#streamer-list.active ul {
	opacity: 1;
}

#streamer-list.active ul {
	min-width: 200px;
	padding-right: 10px;
}

#streamer-list.active li.selected {
	color: orangered;
}

#streamer-list.active li:hover {
	background: orangered;
	color: white;
}

#streamer-list li.selected {
	color: white;
}

#streamer-search {
	background: rgba(0,0,0,0.8);
	width: 400px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -100px 0px 0px -200px;
	display: none;
	z-index: 99;
}

#streamer-watching {
	background: black;
	color: white;
	display: none;
	font-size: 32px;
	left: 50%;
	margin: -110px 0px 0px -250px;
	position: fixed;
	top: 50%;
	width: 400px;
	z-index: 99;
	padding: 50px;
	text-align: center;
	text-transform: uppercase;
}

#streamer-watching span {
	display: block;
	line-height: 38px;
}

#streamer-watching span.title {
	color: #ddd;
	font-size: 13px;
}

#livestream {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0px;
}

#livestream object {
	width: 100%;
	height: 100%;
}

#sidebar {
	border-left: 1px solid #222;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0px;
	width: 300px;
}

#sidebar .side-widget {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#sidebar .widget-header {
	background: black;
	border-bottom: 1px solid #222;
	color: #ddd;
	font-size: 14px;
	line-height: 1.2em;
	overflow: hidden;
	padding: 10px;
	text-transform: uppercase;
}

#sidebar .widget-body {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 37px;
}

#sidebar .twitch-chat iframe {
	height: 100% !important;
}

#stream-wrapper.sidebar-active #livestream {
	right: 301px;
}

.debug.db-message {
	background: #222;
	color: white;
	font-size: 15px;
	left: 50%;
	line-height: 1;
	margin: -27px 0px 0px -75px;
	padding: 20px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
}

@media all and (max-width : 680px) {
	.watching .title {
		display: none;
	}
}